/* #region colors*/
:root{
	--main: #2F3035;
    --accent: #1C62CD;
    --base: #F0F0F4;
    --light_text: #C4C4C4;

}
/* #endregion colors */
/* #region general */

html{
    box-sizing: border-box;
    font-size: 62.5%; 

}
*, *::before, *::after{
    box-sizing: inherit;
}
a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
body{
    color: var(--main);
    font-family: sans-serif;
    font-size: 2rem;
    line-height: 24px;
    font-weight: 400;
    font-family: 'SFProDisplay-Regular', sans-serif;
    min-width: 320px; 
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
button {
    border: none;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
}
.page-section{
    margin-bottom: 80px;
}
.menu__btn{
    display: none;
}
.menu-mobile{
    display: none;
}
.menu-mobile__header-top.is-active {
    z-index: 10;
}
/* #endregion general */

/* #region header */
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 25px; */
    min-height: 122px;
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: 700;
}

li.menu__item {
    display: inline-block;
}
.menu__item + .menu__item {
	padding-left: 50px;
}
.header__box {
    display: flex;
}
.header__address{
    margin-right: 60px;
    width: 265px;
    padding-left: 30px;
    position: relative;
}
.header__address::before{
    content: "";
    position: absolute;
    background-image: url('../img/elements/address.svg');
    width: 30px;
    height: 30px;
    left: 0;
    top: -10px;

}
ul.user-list {
    margin-right: 15px;
    display: flex;
    align-items: center;
}
li.user-list__item {
    padding-right: 10px;
}
.logo-mobile{
    display: none;
}
.logo{
    display: block;
}
.basket{
    position: relative;
}
.basket__num{
    position: absolute;
    font-family: SF Pro Display, sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #fff;
    line-height: 20px;
    background-color: var(--accent);
    width: 20px;
    height: 20px;   
    border-radius: 50%;
    text-align: center;
    bottom: -3px;
    right: -14px;
}
ul.menu-categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 53px;
    background-color: var(--base);
}

.menu-categories__item{
    position: relative;
}
.menu-categories__link{
    position: relative;
    transition: all .3s;
    padding: 15px 0 14px;
}
.menu-categories__link::before{
    content: "";
    position: absolute;
    width: 0;
    left: auto;
    right: 0;
    background-color: var(--accent);
    height: 3px;
    bottom: -2px;
    transition: all .3s;
}
.menu-categories__link:hover{
    font-family: 'SFProDisplay-Semibold', sans-serif;
    color: #000;
}
.menu-categories__link:hover::before{
    width: 100%;
    right: auto;
    left: 0;
}
/* #endregion header */

/* #region banner */
.banner-section__inner {
    display: flex;
    justify-content: space-between;
}
.banner-section__slider {
    max-width: 870px;
    margin-right: 36px;
}

.banner-section__slider-btn,
.product-slider__slider-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0; 
    z-index: 5;
    cursor: pointer;
}
.banner-section__slider-btnprev{
    left: 20px;
}
.banner-section__slider-btnnext{
    right: 20px;
}
.slick-dots {
    position: absolute;
    bottom: 40px;
    right: 0;
    left: 0;
    text-align: center;
}
.slick-dots li{
    display: inline-block;
    padding: 0 5px;

}

.slick-dots button {
    background-color: transparent;
    border: 1px solid #fff;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    font-size: 0;
    padding: 0;
    

}
li.slick-active button{
    background-color: #fff;
}
.sale-item{
    max-width: 265px;
    max-height: 400px;
    text-align: center;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
}

.sale-item__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 25px;
}

p.sale-item__info {
    margin: 0;
    background-color: var(--accent);
    color: #fff;
    text-transform: uppercase;
    padding: 8px 20px;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: 0.1em;
}
.price{
    font-family: 'Barlow', sans-serif;
}
.sale-item__price{
    text-align: end;
}
.sale-item__price-new{
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 32px;
    color: var(--accent);
    line-height: 32px;
    margin-right: 8px;
}
.sale-item__price-new span{
    margin-left: 6px;
}
.sale-item__price-old{
    font-size: 1.7rem;
    color: var(--light_text);
    position: relative;
    margin-right: 4px;
}
.sale-item__price-old span{
    margin-left: 7px;
}
.sale-item__price-old::after{
    content: "";
    position: absolute;
    width: 73px;
    height: 1px;
    background-color: var(--light_text);
    left: 43px;
    bottom: 13px;
    transform: rotate(-15deg);
}
.sale-item__title{
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 21px;
    padding: 0 25px;
    margin-bottom: 7px;
}
.sale-item__footer {
    background-color: var(--base);
    min-height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.8rem;
    line-height: 21px;
}
.sale-item__footer span {
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
    color: var(--accent);
    line-height: 24px;
}
/*#endregion banner */

/* #region search */
.search__tabs {
    margin-bottom: 25px
}
/* .search__tabs-inner {
    overflow-x: scroll;
    width: 990px;
} */

a.search__tabs-item {
    font-size: 2rem;
    color: var(--main);
    padding: 11px 26px;
}
a.search__tabs-item.is-active{
    background-color: var(--base);
    font-weight: 700;
}


.tabs-content{
    display: none;
}
.tabs-content.is-active{
    display: block;
}
form.search__content-form {
    display: flex;
}

input.search__content-input {
    width: 100%;background-color: var(--base);
    border: none;
    border-radius: 3px;
    padding: 15px 20px;
    font-size: 1.6rem;
    line-height: 19px;
    }
input.search__content-input::placeholder{
    color: #656464;
}

button.btn {
    background-color: var(--accent);
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 17px 38px;
    line-height: 17px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    letter-spacing: 0.12em;
}

button.search__content-btn {
    margin-left: -3px;
}
/* #endregion */

/* #region categories */
.categories__inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

a.categories__item {
    width: 370px;
    display: flex;
    border: 1px solid var(--light_text);
    padding: 20px;
    border-radius: 3px;
    justify-content: space-between;
    margin-bottom: 30px;
    transition: all .3s;
}

.categories__item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

p.categories__item-text {
    margin: 0;
    font-size: 1.4rem;
    color: var(--light_text);
}

h4.categories__item-title {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 27px;
    letter-spacing: 0.8px;
    transition: all .3s;
}
.categories__item:hover{
    box-shadow:  0px 4px 4px  rgba(0, 0, 0, 0.25);
}
.categories__item:hover .categories__item-title{
    color: var(--accent);
}
/* #endregion categories */

/* #region products */
h3.product__title {
    font-family: 'Barlow', sans-serif;
    font-size: 2.5rem;
    line-height: 30px;
    margin-bottom: 19px;
}
.products__tab + .products__tab{
    margin-left: 50px;
}
.products__tabs{
    margin-bottom: 25px;
}
.products__tab{
    margin-bottom: 10px;
    cursor: pointer;
}
.products__tab.is-active{
    border-bottom: 1px solid var(--accent);
}
.product-item__wrapper{
    position: relative;
    width: 271px;
    transition: all .3s;
    margin: 0 auto;
} 
.product-item__wrapper.line{
    width: 100%;
}
.product-item{
    border: 1px solid var(--light_text);
    border-radius: 3px;
    text-align: center;
    padding: 52px 20px 31px;
    transition: all .3s;
    min-height: 412px;
    width: 100%;

}
.product-item__title{
    font-weight: normal;
    padding: 14px 0 25px;
}
.icon-favorite{
    position: absolute;
    width: 24px;
    height: 22px;
    background-color: transparent;
    border: none;
    z-index: 5;
    outline: none ;
}
.icon-favorite::before{
    content: "";
    position: absolute;
    width: 24px;
    height: 22px;
    top: 0;
    left: 0;
    background-image: url('../img/elements/favorite.svg'); 
}
.icon-favorite.is-active::before{
    background-image: url('../img/elements/favorite-active.svg'); 
}
.product-item__favorite{
    top: 16px;
    right: 19px; 
}
.product-item__price{
    font-weight: 700;
    font-size: 3rem;
    line-height: 36px;
}
.product-item__basket{
    position: absolute;
    width: 60px;
    height: 40px;
    background: var(--accent);
    border-radius: 10px 0 0 0;
    right: 0;
    bottom: 0;
    border: none;
    padding-top: 7px;
    cursor: pointer;
}

.product-item__hover-text{
    padding: 18px 21px;
    background: rgba(255, 255, 255, .9);
    box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
    border-radius: 3px;
    top: 30%;
    position: absolute;
    opacity: 0;
    display: inline-block;
    transition: all .3s;
}
.product-item:hover .product-item__hover-text{
    padding: 18px 21px;
    opacity: 1;
    color: var(--main);
}
.product-item:hover{
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    color: var(--accent);
}
.is-sale::before{
    content: "SALE";
    position: absolute;
    left: 0;
    top: 0;
    padding: 8px 15px;
    color: #fff;
    background-color: var(--accent);
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.07em;
    line-height: 14px;
}

.product-item__wrapper.product-item__not-available .product-item__price{
    display: none;
}
.product-item__wrapper.product-item__not-available .product-item__basket{
    display: none;
}
.product-item__notify-text{
    display: none;
    font-size: 1.8rem;
    font-weight: 700;
}
.product-item__wrapper.product-item__not-available:hover .product-item__notify-text{
    color: var(--main);
}
.product-item__wrapper.product-item__not-available .product-item__notify-text{
    display: block;
}
.product-item__notify-link{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 1.6rem;
    line-height: 19px;
    color: var(--accent);
    bottom: 20px;
    text-align: center;
    
}
.product-item__notify-link span{
    border-bottom: 1px solid var(--accent);
}
.product-item__wrapper.product-item__not-available .product-item__notify-link{
    display: block;
}
.product-item__wrapper.product-item__not-available .product-item__title{
    padding-bottom: 13px;
}
.product-slider__slider-btnprev{
    left: -15px;
}
.product-slider__slider-btnnext{
    right: -15px;
}
.slick-slide img {
    display: inline-block;
}
.product__more{
    text-align: center;
    margin: 35px 0 86px;
}
.product__more-link{ 
    font-size: 1.5rem;
    line-height: 18px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding: 17px 43px;
    background-color: var(--base);
}
.product-slider .slick-dots {
    bottom: -18px;
}
.product-slider li button {
    background-color: var(--light_text);
}
.product-slider li.slick-active button {
    background-color: var(--accent);
}

/* #endregion */
/* #region banner-sale */
.banner img {
    width: 100%;
}
/* #endregion banner-sale */
/* #region footer*/
footer.footer {
    background-color: var(--base);
    padding: 43px 0 27px;
}

.footer__top-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
    font-size: 1.4rem;
    line-height: 17px;
}

.footer__top-item:first-child {
    max-width: 316px;
}

h6.footer__top-title {
    font-size: 1.4rem;
    line-height: 17px;
    margin-bottom: 10px;
    pointer-events: none;
}

input[type="email"] {
    max-width: 200px;
    padding: 10px 12px;
    border-radius: 3px;
    outline: none;
    border: 0;
    margin-top: 24px;
}
input[type="email"]::placeholder{
    color: var(--light_text);
}


form.footer__top-form>button {
    padding: 10px 16px;
    font-size: 1.1rem;
    margin-left: -7px;
}

li.footer-list__item {
    margin-bottom: 10px;
}
ul.footer-social {
    display: flex;
    align-items: center;
    height: 100%;
}

.footer-social__item + .footer-social__item{
    margin-left: 30px;

}

li.footer-list__item a:hover {
    color: var(--accent);
}
.footer__bottom {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    line-height: 12px;
}
.footer__bottom>a{
    display: inline-block;
    margin-left: 81px;
}
/* #endregion footer*/

/* #region catalog.html */
/* #region breadcrumbs */
.breadcrumbs__list-item{
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 18px;
    color: va r(--light_text);
    margin-right: 4px;
    padding-right: 16px;
}

.breadcrumbs__list-item::after {
    content: "";
    position: absolute;
    background-image: url(../img/elements/icon-next.svg);
    height: 10px;
    width: 6px;
    bottom: 5px;
    right: 0;
}
.breadcrumbs__list-item:last-child::after {
    display: none;
}
.catalog__btn-mobile{
    display: none;
}

/* #endregion breadcrumbs*/

/* #region catalog*/
.catalog{
    margin-bottom: 100px;
}
.catalog__title{
    font-size: 3rem;
    line-height: 36px;
    margin-bottom: 30px;
    margin-top: 41px;
}
.catalog__filter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 47px;
}

.catalog__filter-items button {
    background-color: var(--base);
    padding: 4px 22px;
    font-size: 1.4rem;
    margin-right: 8px;
    opacity: 0.7;
}
.catalog__inner{
    display: flex;
}
.catalog__inner-aside{
    min-width: 290px;
    margin-right: 10px;
}
.catalog__inner-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.catalog__inner-list .product-item__wrapper{
    margin-bottom: 30px;
}
.product-item__img {
    max-width: 100%;
}
.pagination {
    width: 100%;
    margin-top: 40px;
}

ul.pagination-list {
    display: flex;
    justify-content: center;
}

li.pagination-list_item {
    padding: 6px 12px;
    border: 2px solid transparent;
    margin-right: 10px;
    font-family: 'Barlow', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 22px;
    color: var(--light_text);

}
li.pagination-list_item.is-active{
    border: 2px solid var(--accent);
    color: var(--accent);
}
li.pagination-list_item:last-child {
    margin-right: 0;
}
li.pagination-list_item a{
    display:block;
}
/* #endregion catalog */

/* #region aside */
.aside-filter__tabs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.aside-filter__tab{
    font-size: 1.6rem;
    line-height: 19px;
    letter-spacing: .09em;
    text-transform: uppercase;
    color: var(--light_text);
    font-weight: 400;
    width: 50%; 
}

.aside-filter__tab.is-active{
    color: var(--main);
    font-weight: bold;
}
.aside-filter__tab.is-active span{
    display: inline-block;
    padding-bottom: 7px;
    border-bottom: 2px solid var(--accent);
}
p.aside-filter__item-title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-bottom: -8px;
    padding-left: 25px;
}
p.aside-filter__item-title {
    position: relative;
    cursor: pointer;
}
p.aside-filter__item-title.filter__item-drop::before{
    content: "";
    position: absolute;
    background-image: url('../img/elements/arrow-down.svg');
    height: 7px;
    width: 12px;
    left: 0;
    bottom: 5px;
    transform: rotate(0deg);
}
p.aside-filter__item-title.filter__item-drop.is-active::before{
    transform: rotate(180deg);
}
.aside-filter__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.aside-filter__item-drop{
    margin-bottom: 40px;
    margin-top: 40px;
}
.aside-filter__content-box{
    width: 50%;
    margin-bottom: 15px;
}
.aside-filter__content-label{
    font-size: 1.4rem;
    line-height: 17px;
}
.jq-checkbox, .jq-radio {
    width: 14px;
    height: 14px;
    background: #fff;
    box-shadow: none;
    border: 1px solid var(--light_text);
    vertical-align: -2px; 
    margin: 0 8px 0 0;
}
.jq-checkbox.checked, .jq-radio.checked{
    background: var(--accent);
}
.jq-checkbox.checked .jq-checkbox__div {
    height: 4px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    margin: 3px 0 0 2px;
}
.aside-filter__content-radio{
    flex-wrap: nowrap;
}
.jq-radio {
    border-radius: 3px;
}
.jq-radio.checked .jq-radio__div{
    border-radius: 0;
    background: none;
    box-shadow: none;
}
.range-slider {
    width: 100%;
}
.irs-min, .irs-max {
    display: none;
}
.irs--round .irs-line {
    height: 1px;
    background-color: #E0E0E0;
}
.irs--round .irs-bar {
    height: 3px;
    background-color: var(--accent);
}
.irs--round .irs-handle {
    top: 33px;
    width: 8px;
    height: 8px;
    background-color: var(--accent);
    border-radius: 50%;
}
span.irs-from, span.irs-to {
    display: none;
}
.extra-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
input.js-input-from, input.js-input-to {
    width: 55px;
    border: none;
    border-bottom: 1px solid;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 17px;
    margin-left: 12px;
    outline: none;
}
label.extra-controls_label {
    display: block;
    font-size: 1.4rem;
    line-height: 17px;
    color: var(--light_text);
}
li.aside-filter__item-list {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--light_text);
    margin-top: 34px;
}
.jq-selectbox.jqselect.filter-style.select-item {
    border: 1px solid #D7D9DF;
    margin-right: 34px;
    min-width: 177px;
}
.catalog__filter-btn {
    display: flex;
        margin-right: 34px;
}
.catalog__filter_button{
    opacity: 0.3;
    outline: none;
}
.catalog__filter_button.is-active{
    opacity: 1;
}
.select-item .jq-selectbox__trigger {
    right: 16px;
}
.jq-selectbox__select {
    font-family: 'Barlow', sans-serif;
    font-size: 1.4rem;
    background: transparent;
    border: none; 
    box-shadow: none;
    
}
.catalog__filter-btn .jq-selectbox__select {
    padding: 0 45px 0 20px;
}
.filter__item-listselect .jq-selectbox__select {
    padding: 0 27px 0 9px;
    line-height: 18px;
}
.jq-selectbox__select:hover {
    background: transparent;
}
.jq-selectbox__trigger {
    bottom: 5px;
    background-image: url(../img/elements/arrow-down.svg);
    transform: rotate(0deg);
    height: 7px;
    width: 12px;
    border: none;
    
    
}
.filter__item-listselect .jq-selectbox__trigger{
    top: 4px;
    right: 8px;
}
.select-item .jq-selectbox__trigger{
    top: 13px;
}
.jq-selectbox__trigger-arrow {
    position: absolute;
    border: none;
}
.jq-selectbox.jqselect.filter-style.dropdown.opened .jq-selectbox__trigger{
    transform: rotate(180deg);
}
.jq-selectbox.focused .jq-selectbox__select {
    border: transparent;
}
.jq-selectbox,
.jq-selectbox__dropdown{
    font-family: 'Barlow', sans-serif;
    font-size: 1.4rem;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.6);
}
.jq-selectbox li.selected,
.jq-selectbox li:hover {
    background: rgba(107, 126, 172, 0.05);
    color: rgba(0, 0, 0, 0.6);   
}
.jq-selectbox__dropdown {
    box-shadow: none;
    border: 1px solid var(--light_text);
    
}
.filter__item-listselect .jq-selectbox__dropdown{
    margin: -7px 0 0;
}

.jq-selectbox__dropdown ul {
    padding-top: 15px;
    padding-bottom: 8px;
}
.aside-filter__content-more{
    width: 100%;
}
a.aside-filter__content-link{
    font-size: 1.4rem;
    line-height: 17px;
    color: var(--accent);
    text-decoration: underline;
   
}
input.filter-search{
    border: 1px solid #E0E0E0;
    width: 100%;
    padding: 6px 20px;
    margin-bottom: 20px;
    font-size: 1.4rem;
}
input.filter-search::placeholder{
    font-size: 1.2rem;
    line-height: 14px;
    color: #BDBEC2;
}

.btn-checked .aside-filter__content {
    flex-wrap: nowrap;
}
.btn-checked .aside-filter__content-label {
    position: relative;

}
.btn-checked .aside-filter__content-span{
    position: absolute;
    z-index: 5;
    left: 50%;
    transform: translateX(-57%);
    bottom: 7px;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 14px;
    letter-spacing: 0.07em;
    color: var(--light_text);
    cursor: pointer;
}
.btn-checked .jq-checkbox{
    width: 66px;
    height: 25px;
    background-color: var(--base);
    border: none;
    border-radius: 0;
}

.btn-checked .jq-checkbox.checked ~ .aside-filter__content-span{
    color: #fff;

}
.btn-checked .jq-checkbox.checked{
    background-color: var(--accent);
}
.btn-checked .jq-checkbox.checked .jq-checkbox__div{
  display: none;  
}
.fiter-btn_send{
    font-size: 1.5rem;
    line-height: 18px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #BDBEC2;
    background-color: var(--base);
    display: block;
    margin: 0 auto;
    padding: 17px 85px;
}
p.filter__extra{
    position: relative;
    margin-top: 15px;
}
.filter__extra-content {
    display: none;
}
.filter__extra,.filter__extra-content{
    font-size: 1.3rem;
    line-height: 16px;
    text-align: center;
}

.filter__extra::after{
    content: "";
    position: absolute;
    background-image: url(../img/elements/arrow-down.svg);
    height: 7px;
    bottom: 4px;
    right: 31px;
    width: 12px;
    transform: rotate(0deg);
}
.filter__extra.is-active::after{
    transform: rotate(180deg);
}
button.filter-btn_reset {
    font-size: 1.3rem;
    line-height: 16px;
    text-decoration-line: underline;
    color: var(--light_text);
    margin: 15px auto;
    display: block;
    text-underline-offset: 0.2em;
}

/* #endregion aside */
/* #endregion catalog.html*/

/* #region product.html */
/* #region product-card */
.product-card__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
}
.ptoduct-card__btn-mobile{
    display: none;
}
.product-card__content {
    width: 50%;
}
.product-card__img-box.is-sale {
    position: relative;
    text-align: center;
    width: 50%;
}
.product-card__img-box.is-sale::before {
    padding: 13px 28px;
    font-size: 1.5rem;
    line-height: 17px;
}
p.product-card__price-old::before {
    content: "";
    position: absolute;
    width: 132px;
    height: 1px;
    background-color: rgb(47 48 53 / 60%);
    left: 225px;
    bottom: 15px;
    transform: rotate(-9deg);
}

p.product-card__price-old {
    position: relative;
    color: rgb(47 48 53 / 60%);
    font-size: 3rem;
    font-family: 'Barlow', sans-serif;
    line-height: 36px;
    margin-bottom: 6px;
}

p.product-card__price-new {
    font-family: 'Barlow', sans-serif;
    font-size: 4rem;
    line-height: 48px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 17px;
}

a.product-card__link {
    color: var(--accent);
    text-decoration: underline;
    line-height: 18px;
    font-size: 1.5rem;
}

h1.product-card__title {
    font-size: 3rem;
    line-height: 36px;
    margin-bottom: 10px;
}

p.product-card__code {
    font-size: 1.5rem;
    line-height: 18px;
    color: rgb(47 48 53 / 60%);
    margin-bottom: 22px;
}
.product-card__tab.is-active {
    font-size: 2rem;
    line-height: 24px;
    font-weight: 700;
    border-bottom: 2px solid #1C62CD;
    opacity: 1;
    margin-bottom: 5px;
}

.product-card__tab {
    opacity: 0.6;
    font-weight: 400;
}
.product-card__tab +.product-card__tab{
    margin-left:34px
}
li.product-card__item {
    margin-top: 15px;
    border-bottom: 1px solid rgb(47 48 53 / 10%);
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
    font-size: 2rem;
    line-height: 24px;
}

.product-card__item-right {
    width: 125px;
}

.product-card__item-left {
    padding-right: 10px;
    max-width: 430px;
}
.product-card__buttons {
    display: flex;
    margin-bottom: 51px;
}
a.product-card__more {
    font-size: 1.4rem;
    line-height: 17px;
    color: var(--accent);
    margin-top: 26px;
    margin-bottom: 45px;
    display: block;
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

.ptoduct-card__btn {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 16px 53px !important;
}
a.product-card__icon-compression {
    margin-left: 54px;
    margin-right: 25px;
}

.product-card__icon-favorite.icon-favorite::before {
    top: 6px;
}
/* #endregion product-card */
/* #region card__tabs */
.card__tabs-block-inner {
    display: flex;
    justify-content: space-between;
    background-color: var(--base);
    padding: 22px 38px;
    color: rgb(47 48 53 / 60%);
    margin-bottom: 50px;
    width: 990px;
    overflow-x: scroll;
}

.card__tab.is-active {
    color: var(--main);
    border-bottom: 2px solid #1C62CD;
}

.card__tabs-container {
    padding-left: 38px;
    margin-bottom: 100px;
}

.card__tab-header {
    margin-bottom: 50px;
}
.card__tab-content form {
    font-size: 1.7rem;
    line-height: 25px;
    color: rgb(47 48 53 / 70%);
}
label.card__tab-search {
    margin-right: 155px;
}
label.card__tab-pickup {
    margin-right: 54px;
}
ul.card__list {}

li.card__list-item {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid rgb(47 48 53 / 10%);
}

li.card__list-item.card__list-itemtitle {
    font-size: 2rem;
    line-height: 24px;
    color: var(--main); 
}

.card__list-address {
    width: 219px;
    margin-right: 81px;
}

.card__list-hours {
    width: 174px;
    margin-right: 98px;
}
span.days {
    width: 50px;
    display: inline-block;
    margin-right: 21px;
}
.card__list-aviable {
    width: 130px;
    margin-right: 100px;
}

.card__list-num {
    width: 104px;
    margin-right: 96px;
}

.card__btn {
    padding: 10px 40px !important;
    font-size: 1.3rem;
    line-height: 16px;
}
.all-address__hidden,
.all-address__show{
    display: none;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: var(--accent);
    cursor: pointer;
}
/* #endregion card__tabs */
/* #endregion product.html */





